head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageText.title
    // Bootstrap Core CSS
    link(href='/dependencies/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/layout.css', rel='stylesheet')
    // Libs
    script(type='text/javascript',  src="/dependencies/angular/angular.min.js")
    script(type='text/javascript', src='/dependencies/angular-bootstrap/ui-bootstrap-tpls.min.js')
    // Custom
    script(type='text/javascript', src='/js/main.js')