mixin listTabColumn(isEven)
    .col-lg-6
        ul.list-unstyled
            li(ng-repeat='tab in lastTabs', ng-if= isEven ? '$even' : '$odd')
                a(href='/tab/{{tab.tabId}}') {{tab.title}}

div(ng-app='sideBar')
    // Blog Search Well
    .well(ng-controller='searchController')
        h4= pageText.searchTitle
        .input-group
            input.form-control(type='text', ng-model='searchField', ng-keypress="searchKeyPress($event)")
            span.input-group-btn
                button.btn.btn-default(type='button', ng-click='search()')
                    span.glyphicon.glyphicon-search
        div.alert.alert-danger(role='alert', ng-show='showAlert')= pageText.searchNothingFound
    // Blog Categories Well
    .well(ng-controller='lastTabController')
        h4= pageText.lastTabsWidgetTitle
        .row
            +listTabColumn(true)
            +listTabColumn(false)
    .well
        h4= pageText.textWidgetTitle
        p
            = pageText.textWidgetText
