div(ng-app='sideBar')
    // Blog Search Well
    .well(ng-controller='searchController')
        h4 Пошук табів
        .input-group
            input.form-control(type='text', ng-model='searchField', ng-keypress="searchKeyPress($event)")
            span.input-group-btn
                button.btn.btn-default(type='button', ng-click='search()')
                    span.glyphicon.glyphicon-search
        div.alert.alert-danger(role='alert', ng-show='showAlert') Nothing found
    // Blog Categories Well
    .well(ng-controller='lastTabController')
        h4 10 останніх табів
        .row
            .col-lg-6
                ul.list-unstyled
                    li(ng-repeat='tab in lastTabs', ng-if="$even")
                        a(href='#') {{tab.title}}
            .col-lg-6
                ul.list-unstyled
                    li(ng-repeat='tab in lastTabs', ng-if="$odd")
                        a(href='#') {{tab.title}}
    .well
        h4 Side Widget Well
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
