doctype html
html(ng-app='tabApplication')
    include  ./includes/head.jade
    body
        include ./includes/navigation.jade
        // Page Header
        header.intro-header(style="background-image: url('/img/guitar.jpg')")
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .page-heading
                            h1 Guitar Tab Folder
                            hr.small
                            h3 Your personal guitar tab collection
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    p Some good info should be here...
                    .row.control-group
                        .col-xs-12.controls
                            | Thanks

        include ./includes/footer.jade