// mixin
mixin space
    &nbsp

mixin commentBody(comment)
    h4.media-heading= comment.title
        +space
        small= comment.postedDate
    = comment.text

mixin comment(comment)
    .media
        a.pull-left(href='#')
            img.media-object(src='http://placehold.it/64x64', alt='')
        .media-body
            +commentBody(comment)
            // Nested Comment
            if(comment.subcomments)
                each subcomment in comment.subcomments
                    +subcoment(subcomment)


mixin subcoment(subcomment)
    .media
        a.pull-left(href='#')
            img.media-object(src='http://placehold.it/64x64', alt='')
        .media-body
            +commentBody(subcomment)


// Comments Form
.well
    h4= pageText.comment.leaveComment
    form(role='form', action= tabData.tabId + '/comment', method='POST')
        .form-group
            textarea.form-control(name='text', rows='3')
        button.btn.btn-primary(type='submit')= pageText.comment.submit
hr
// Posted Comments
// Comment
if(tabData.comments)
    each comment in tabData.comments
        +comment(comment)