doctype html
html(ng-app='sideBar')
    include  ./includes/head.jade
    body
        include ./includes/navigation.jade
        .container
            .row
                .col-lg-8
                    block content
                .col-md-4
                    include ./includes/sidebar.jade
            hr
            include ./includes/footer.jade