extends ./layout.jade

block content
    h1= pageText.listPage.title
    div(ng-controller='TabListController')
        table.table(ng-table='tableParams', show-filter='true')
            tr(ng-repeat='tabHead in $data')
                td(data-title= '"' + pageText.listPage.bandColumn + '"', filter="{ 'band': 'text' }", sortable="'band'")
                    | {{tabHead.band}}
                td(data-title= '"' + pageText.listPage.nameColumn + '"', filter="{ 'title': 'text' }", sortable="'title'")
                    a(href="tab/{{tabHead.tabId}}")
                        | {{tabHead.title}}
                td(data-title= '"' + pageText.listPage.dateColumn + '"', sortable="'postedDate'")
                    | {{tabHead.postedDate | date:"dd.MM.yyyy HH:mm:ss"}}
