extends ./layout.jade

block content
    table.row-border.hover.table
        thead
            tr
                th Група
                th Назва пісні
                th Дата
        tbody
            tr
                td
                    a(href='tabPage.html') Плач Єремії
                td Вона
                td 07.03.2015
            tr
                td Band
                td Song Name
                td 01.01.2015
            tr
                td Band
                td Song Name
                td 01.01.2015