extends ./layout.jade

block content
    div(ng-controller='TabListController')
        p
            strong Page:
            | {{tableParams.page()}}
        p
            strong Count per page:
            | {{tableParams.count()}}
        table.table(ng-table='tableParams')
            tr(ng-repeat='tabHead in $data')
                td(data-title= '"' + pageText.listPage.bandColumn + '"')
                    | {{tabHead.band}}
                td(data-title= '"' + pageText.listPage.nameColumn + '"')
                    a(href="tab/{{tabHead.tabId}}")
                        | {{tabHead.title}}
                td(data-title= '"' + pageText.listPage.dateColumn + '"')
                    | {{tabHead.postedDate | date:"dd.MM.yyyy HH:mm:ss"}}
