extends ./layout.jade

mixin space
    |&nbsp

block content
    h1= tabData.title
    p.lead
        = pageText.tabPage.dateColumn
        a(href='#')= tabData.band
    hr
    if(tabData.isOwner)
        .btn-group.pull-right(dropdown, is-open='status.isopen')
            button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle)
                i.glyphicon.glyphicon-cog
                +space
                span.caret
            ul.dropdown-menu(role='menu')
                li
                    a(href='/tab/' + tabData.tabId + '/edit')
                        span.glyphicon.glyphicon-pencil
                        +space
                        | Edit
                li
                    a(ng-controller='DeleteTabController', ng-click='deleteClick()')
                        span.glyphicon.glyphicon-remove
                        +space
                        | Delete
    p
        span.glyphicon.glyphicon-time
        = pageText.tabPage.createDate
        +space
        formated-date(date= tabData.postedDate)
    p
        = pageText.tabPage.author
        +space
        = tabData._author.username
    hr
    //content
    div
        if(tabData.otherInfo)
            each info in tabData.otherInfo
                div= info
    div.tabContainer
        each line in tabData.body
            div.tab-line= line
    hr
    comments
    //TODO remove to angular
    script
        != 'var tabId = ' + JSON.stringify(tabData.tabId) + ';'
        != 'var postedDate = ' + JSON.stringify(tabData.postedDate) + ';'