extends ./layout.jade

block content
    h1= tabData.title
    p.lead
        = pageText.tabPage.dateColumn
        a(href='#')= tabData.band
    hr
    p
        span.glyphicon.glyphicon-time
        = pageText.tabPage.createDate
        =tabData.postedDate
    hr
    //content
    div
        if(tabData.otherInfo)
            each info in tabData.otherInfo
                div= info
    div#tabBody
        each line in tabData.body
            div= line
    hr
    include ./comments.jade