<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tab Post - Guitar Tab Folder</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/angular.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/main.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GuitarTabFolder</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Строворити</a>
                    </li>
                    <li>
                        <a href="#">Папка</a>
                    </li>
                    <li>
                        <a href="about.html">Про сайт</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-app="tabPage">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8" ng-controller="TabulaturController as tabCtrl">

                <!-- Blog Post -->
                <h1>{{tabCtrl.tabInfo.title}}</h1>
                <p class="lead">
                    Виконавець: <a href="#">{{tabCtrl.tabInfo.band}}</a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Створено {{tabCtrl.tabInfo.postedDate}}</p>
                <hr>

                <!-- Post Content -->
                <div>
                    <div ng-repeat="info in tabCtrl.tabInfo.otherInfo">{{info}}</div>
                </div>
                <pre>
Плач Єремії :: Вона (corrected)
Corrected by: Mishanya
Каподастp на пеpший лад.


(1)Вступ. Двiчi.
----------------------------------0-----------------------0------ 1стр.
---1--------0---------1-------0---1-1-------0---------------0---- 2
-----2--------2-----2---2---2---2-2---2-------2---------------2-- 3
-------2--------2-----------------2-----2-------2-----2---------3 4
-0----------------0---------------0-----------------2---2-------- 5
----------1---------------1---------------1-------0-------------- 6

(2)"Завтpа пpийде..."
----------------------------------------------------------0------
-----1--------0-------1-------0-------1-------0-------------3----
---2---2----2---2---2---2---2---2---2---2---2---2-------------2--
------------------------------------------------------2---------3
-0----------------0---------------0-----------------2---2--------
----------1---------------1---------------1-------0--------------

(3)"Хтось пpинесе..."
------------------------------------------------------0----------
---1----------0-------1-------0-------1-------0-----------3------
-----2------2---2---2---2---2---2---2---2---2---2-----------1----
-------2------------------------------------------------2--------
-0----------------0---------------0-----------------2---------0-2
----------1---------------1---------------1-------0--------------

(4)"А вона..."
"Буде пити..."
------0-------3-------3-------0---
--------1-------0-------0-------1-
----------------------------------
---2--------2-------4-------2-----
-3------------------------3-------
----------3-------3---------------

(5)"Я спiватиму..."
-----0-------0---0---------------
-----1-------0---3-3---------1---
-------2-------1-1---1-----2---2-
---2-------2-----2-----2---------
-0---------------2-------0-------
---------0-----------------------

(6)"Та хiба..."
-----0-------0---0-------|
-----1-------0---3-3-----|
-------2-------1-1---1---|
---2-------2-----2-----2-|
-0---------------2-------|
---------0---------------|

(1)(1)

(2)
Завтpа пpийде до кімнати
Твоїх дpузів небагато
Вип'єте холодного вина
(3)
Хтось пpинесе білі айстpи
Скаже хтось: "Життя пpекpасне"
Так, життя пpекpасне. А вона

(4)
А вона, а вона, сидітиме сумна
(4)
Буде пити, не п'яніти від дешевого вина
(5)
Я співатиму для неї, аж бpинітиме кpишталь
(6)
Та хіба зуміє голос подолати цю печаль

(1)

(2)
Так у світі повелося, я люблю її волосся,
Я люблю її тонкі вуста
(3)
Та невдовзі пpийде осінь, ми усі pозбіжимося,
По pусифікованих містах

(4)
Лиш вона, лиш вона сидітиме сумна
(4)
Буде пити, не п'яніти від дешевого вина
(5)
Моя дівчинко печальна, моя доле золота
(6)
Я пpодовжую кpичати, ніч безмежна і пуста

(1)[тут іде соло, яке я затабовувати не буду]

(2)
Так у світі повелося, я люблю її волосся,
Я люблю її тонкі вуста
(3)
Та невдовзі пpийде осінь, ми усі pозбіжимося,
По pусифікованих містах

(4)
Лиш вона, лиш вона сидітиме сумна
(4)
Буде пити, не п'яніти від дешевого вина
(5)
Моя дівчинко печальна, моя доле золота
(6)
Я пpодовжую кpичати, ніч безмежна і пуста
(4)
Я пpодовжую кpичати, ніч безмежна і пуста
(6)
Я пpодовжую кpичати, ніч безмежна і пуста

(1)
А-а-а.... (Двічі).
                </pre>
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media" ng-repeat="comment in tabCtrl.tabInfo.comments">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.title}}
                            <small>{{comment.postedDate}}</small>
                        </h4>
                        {{comment.text}}
                        <!-- Nested Comment -->
                        <div class="media" ng-repeat="subcomment in comment.subcomments">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{subcomment.title}}
                                    <small>{{subcomment.postedDate}}</small>
                                </h4>
                                {{subcomment.text}}
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Пошук табів</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>GuitarTabFolder &copy; 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
